@import '../../../assets/utilities/variables.scss';

.header-page {
    background-color: $global-color-alpha-black-500;
    padding: 10px 0;

    .header-page__items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        .header-page__left {
            width: 122px;
            height: 40px;
        }

        .header-page__right {
            width: 122px;
            height: 30px;
        }

        img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
}