$newton-white: #FFF;
$global-color-primary: #111D4A;
$global-color-secundary: #1670C0;
$global-color-secundary-900: rgba(22, 112, 192, .95);

$global-color-neutral-800: #48536C;
$global-color-neutral-700: #5D677D;
$global-color-neutral-300: #B0B6C1;
$global-color-neutral-30: #F3F5F6;


$global-color-alpha-black-500: rgba(0, 0, 0, 0.50);
$global-color-alpha-black-300: rgba(0, 0, 0, 0.30);
$global-color-alpha-black-200: rgba(0, 0, 0, 0.20);
$global-color-alpha-white-400: rgba(255, 255, 255, 0.40);