@import '../../../assets/utilities/variables.scss';

.form-login {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin: 0 auto;

    .form-login__container {
        width: 100%;
    }

    .form-login__header p {
        margin: 0 auto;
        max-width: 200px;
        text-align: center;

        color: $newton-white;
        font-size: 16px;
        line-height: 1.2em;
    }

    .form-login__content {
        width: 100%;
        margin-top: 20px;

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

    }

    .form-group {

        width: 100%;

        input {
            display: flex;
            padding: 12px 12px 12px 16px;
            align-items: center;
            gap: 8px;
            align-self: stretch;
            border-radius: 4px;
            border: 1px solid $global-color-neutral-300;
            background: $global-color-neutral-30;

            color: $global-color-neutral-800;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            width: 100%;
            box-sizing: border-box;
        }

        textarea {
            display: flex;
            padding: 12px 12px 12px 16px;
            align-items: center;
            gap: 8px;
            align-self: stretch;
            border-radius: 4px;
            height: 200px;
            border: 1px solid $global-color-neutral-300;
            background: $global-color-neutral-30;

            color: $global-color-neutral-800;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            width: 100%;
            box-sizing: border-box;
            resize: none;
        }
    }

    .form-login__politica {
        margin-top: 20px;
        display: block;
        text-align: center;

        a {
            text-align: center;
            text-decoration: none;
        
            color: $newton-white;
            font-size: 12px;
            line-height: 1.2em;
        }
    }
}

.snackbar {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: .3s ease all;

.snackbar__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: 320px;
    padding: 8px;
    
    margin: 0 auto;
    border-left: 4px solid #1670C0;
    background: #EEF7FC;

}

.snackbar-icon {

    svg {
        display: block;
        width: 24px;
        height: 24px;
    }
}

.snackbar-text {
    flex: 1;

    p {
        width: 100%;
        color: #5D677D;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.2em;
        margin: 0;
    }
}
}