<app-header></app-header>

<section class="section section_cards">
    <div class="container">
        <div class="cards-list">
            <app-card
                title="Insights do evento"
                lead="Confira as notas inteligentesdo evento"
                status="Ao Vivo"
                icon="Insights"
                url="/insights"
            />

            <app-card
                title="Chat Interativo 1"
                lead="Chat inteligente para responder dúvidas sobre o conteúdo"
                icon="ic-chatbot"
                url="/chat-palestra"
            />

            <app-card
                title="Chat interativo 2"
                lead="Chat inteligente para consultar os serviços conforme suas necessidades"
                icon="ic-chatbot"
                url="/chat-servicos-senai"
            />

            <app-card
                title="Chat interativo 3"
                lead="Use o chat inteligente para consultar informações sobre o evento"
                icon="ic-chatbot"
                url="/chat-sobre-evento"
            />
        </div>
    </div>
</section>